.section-info {
   padding: 5vh 5vw;
   background-color: $blue-dark;

   // display: flex;
   // gap: 1.4rem;
   // flex-direction: column;
   // justify-content: center;
   // align-items: flex-start;

   .wrapper {
      display: grid;
      justify-items: start;
      gap: 1.4rem;
   }

   @media only screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 5rem;

      align-items: center;
      justify-content: center;
   }

   .illustration {
      width: 100%;
      max-width: 615px;
      margin: 4rem 0;
   }
}
